{%extends 'base_registration.html'%}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block title %}Log-In{% endblock %}
{% block content %}
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        {% if form.errors %}
            <div class="alert alert-danger">
                {% for field, errors in form.errors.items %}
                    {{ field }}:
                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <button type="submit" class="btn btn-success">Ingresar</button>
    </form>
    <a href="{% provider_login_url 'google' process='login'%}">Ingresa con Google</a>
    <a href="{% url 'registration'%}">Crea una cuenta</a>
{% endblock %}
